
@{
    ViewBag.Title = "DishLanding";
}

<h2>DishLanding</h2>
<p>Thank you, @ViewBag.dish.Name for signing up to bring @ViewBag.dish.DishName</p>
<p>
    Description of dish: @ViewBag.dish.Desc <br />
    Additional Categories: @ViewBag.dish.Options
</p>
