
@{
    ViewBag.Title = "RSVP";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $("#email").keyup(function () {
                var str = this.value;
                validateEmail(str);
            });
        });

        function validateEmail(str) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (!emailReg.test(str)) {
                // Make label red
                $("#emailLabel").css("color", "red");
                console.log("fail");
            } else {
                //make label green
                $("#emailLabel").css("color", "black");
                console.log("pass");
            }
        }


        var onward = function onward() {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $( "#email" ).val();
            if (!emailReg.test(email)) {
                event.preventDefault();
                alert("Email is invalid");
            }
        }
            
        

    </script>

</head>

<!--RUN VALIDATION METHOD ON SUBMIT-->
<form action="/Database/AddGuest" method="get" name="rsvp" onsubmit="return onward()">

    <label for="firstName">First Name</label><br />
    <input type="text" name="firstName" /><br />

    <label for="lastName">Last Name</label><br />
    <input type="text" name="lastName" /><br />

    <label for="email" id="emailLabel">Email</label><br />
    <input type="text" name="email" id="email" required /><br />

    <label for="attending">Are you attending?</label><br />
    <input type="checkbox" id="attending" onclick="ShowDates()" required>Yes<br />

    <!--IF ATTENDING GIVE TWO DATE OPTIONS-->
    <div id="dates" style="display:none">
        <label for='date' id="yesAttend">Select the date you will be attending</label><br>
        <input type='radio' name='date' id="yesAttend">December 15<br>
        <input type='radio' name='date' id="yesAttend">December 22<br />
    </div>

    <script>
        function ShowDates() {
            var checkbox = document.getElementById("attending");
            var dates = document.getElementById("dates");
            if (checkbox.checked == true) {
                dates.style.display = "block";
            } else {
                dates.style.display = "none";
            }
        }
    </script>

    <!--IF NOT ATTENDING, CALL USER A RUDE NAME OR SOMETHING-->

    <label for="guest">Are you bringing a guest?</label><br />
    <input type="checkbox" name="guest" id="guestAsk" />Yes<br />


    

    


    <input type="submit" class="btn-primary" value="Submit" id="SubmitBtn" />
</form>